@page
@model MegaDeskWebApp.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.CustomerName" class="control-label"></label>
                <input asp-for="Quote.CustomerName" class="form-control" id="name" name="name"/>
                <span asp-validation-for="Quote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control" id="depth" name="depth"/>
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" name="width" id="width"/>
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DrawerCount" class="control-label"></label>
                <input asp-for="Quote.DrawerCount" class="form-control" id="drawercount" name="drawercount"/>
                <span asp-validation-for="Quote.DrawerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DeskMaterial" class="control-label"></label>
                <select asp-for="Quote.DeskMaterial" class="form-control" id="material" name="material">
                    <option disabled selected> -- select an option -- </option>
                    <option value="1">Oak</option>
                    <option value="2">Laminate</option>
                    <option value="3">Pine</option>
                    <option value="4">Rosewood</option>
                    <option value="5">Veneer</option>
                </select>
                <span asp-validation-for="Quote.DeskMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.ShippingOption" class="control-label"></label>
                <select asp-for="Quote.ShippingOption" class="form-control" id="shipping" name="shipping">
                    <option disabled selected> -- select an option -- </option>
                    <option value="0">Standard 14 days</option>
                    <option value="1">3 days</option>
                    <option value="2">5 days</option>
                    <option value="3">7 days</option>
                </select>
                <span asp-validation-for="Quote.ShippingOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Admin Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
