@page
@model MegaDeskWebApp.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Quote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.CustomerName" class="control-label"></label>
                <input asp-for="Quote.CustomerName" class="form-control" />
                <span asp-validation-for="Quote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control"/>
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" name="Width" id="Width"/>
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DrawerCount" class="control-label"></label>
                <input asp-for="Quote.DrawerCount" class="form-control" />
                <span asp-validation-for="Quote.DrawerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DeskMaterial" class="control-label"></label>
                <input asp-for="Quote.DeskMaterial" class="form-control" />
                <span asp-validation-for="Quote.DeskMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.ShippingOption" class="control-label"></label>
                <input asp-for="Quote.ShippingOption" class="form-control" />
                <span asp-validation-for="Quote.ShippingOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.QuoteDate" class="control-label"></label>
                <input asp-for="Quote.QuoteDate" class="form-control" />
                <span asp-validation-for="Quote.QuoteDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Admin Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
