@page
@model MegaDeskWebApp.Pages.Quotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Add New Quote</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quote.CustomerName" class="control-label"></label>
                <input asp-for="Quote.CustomerName" class="form-control" placeholder="John Doe"/>
                <span asp-validation-for="Quote.CustomerName" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control" placeholder="12-48" />
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" placeholder="24-96" />
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DrawerCount" class="control-label"></label>
                <input asp-for="Quote.DrawerCount" class="form-control" placeholder="0-7" />
                <span asp-validation-for="Quote.DrawerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DeskMaterial" class="control-label"></label>
                <select asp-for="Quote.DeskMaterial" class="form-control" onchange="Swap(this,'MyImg');">
                    <option disabled selected> -- select an option -- </option>
                    <option value="1">Oak</option>
                    <option value="2">Laminate</option>
                    <option value="3">Pine</option>
                    <option value="4">Rosewood</option>
                    <option value="5">Veneer</option>
                </select>
                <span asp-validation-for="Quote.DeskMaterial" class="text-danger"></span>
                <div style="padding: 10px 10px 0px 10px; align-content: center;"><img id="MyImg" src="/images/filler_image.png" alt="material_image" style="border-radius: 15px; border: solid #808080 3px; text-align: center; margin: auto;" width=250 height=250></div>
            </div>
            <div class="form-group">
                <label asp-for="Quote.ShippingOption" class="control-label"></label>
                <select asp-for="Quote.ShippingOption" class="form-control">
                    <option disabled selected> -- select an option -- </option>
                    <option value="99">Standard 14 days</option>
                    <option value="0">3 days</option>
                    <option value="1">5 days</option>
                    <option value="2">7 days</option>
                </select>
                <span asp-validation-for="Quote.ShippingOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Quote" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-sortOrder="" asp-route-SearchString="" class="btn-primary btn">Back to Quotes Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
