@page "{id:int}"
@model MegaDeskWebApp.Pages.Quotes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Quote</h2>

<hr />


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Quote.ID" />
            <input type="hidden" asp-for="Quote.QuoteDate" />
            <input type="hidden" asp-for="Quote.ShippingOption" />
            <div class="form-group">
                <label asp-for="Quote.CustomerName" class="control-label"></label>
                <input asp-for="Quote.CustomerName" class="form-control" />
                <span asp-validation-for="Quote.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Depth" class="control-label"></label>
                <input asp-for="Quote.Depth" class="form-control" />
                <span asp-validation-for="Quote.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.Width" class="control-label"></label>
                <input asp-for="Quote.Width" class="form-control" />
                <span asp-validation-for="Quote.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DrawerCount" class="control-label"></label>
                <input asp-for="Quote.DrawerCount" class="form-control" />
                <span asp-validation-for="Quote.DrawerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.DeskMaterial" class="control-label"></label>
                <select asp-for="Quote.DeskMaterial" class="form-control">
                    <option disabled selected> -- select an option -- </option>
                    <option value="1">Oak</option>
                    <option value="2">Laminate</option>
                    <option value="3">Pine</option>
                    <option value="4">Rosewood</option>
                    <option value="5">Veneer</option>
                </select>
                <span asp-validation-for="Quote.DeskMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quote.ShippingOption" class="control-label"></label>
                <select asp-for="Quote.ShippingOption" class="form-control" name="shipping">
                    <option disabled selected> -- select an option -- </option>
                    <option value="99">Standard 14 days</option>
                    <option value="0">3 days</option>
                    <option value="1">5 days</option>
                    <option value="2">7 days</option>
                </select>
                <span asp-validation-for="Quote.ShippingOption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-sortOrder="" asp-route-SearchString="" class="btn-primary btn">Back to Quotes Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
