@{
    ViewData["Title"] = "Home Page";
}

<div class="background-image">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    
        <div class="hex-center">
            <svg height="150" width="150" class="hex">
                <a xlink:href="https://www.google.com">
                    <polygon class="bgd-hex" x="75" y="75" points="75,0 150,40 150,110 75,150 0,110 0,40" />
                </a>
            </svg>
            <svg height="150" width="150" class="hex">
                <a xlink:href="https://www.google.com">
                    <polygon class="bgd-hex" points="75,0 150,40 150,110 75,150 0,110 0,40" />
                </a>
            </svg>
        </div>
</div>
