@{
    ViewData["Title"] = "Home Page";
}

<div class="background-image">
    <div class="text-center">
        <h1 class="display-4">Sacrament Meeting</h1>
        <h1 class="display-4">Planner</h1>
    </div>
        <div class="text-center">
            <svg height="300" width="300" viewbox="0 0 150 150" class="hex">
                <a asp-area="" asp-controller="Meetings" asp-action="Index">

                    <polygon class="bgd-hex" points="75,0 150,45 150,105 75,150 0,105 0,45" />
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Meetings</text>
                </a>
            </svg>
            <svg height="300" width="300" viewbox="0 0 150 150" class="hex">
                <a asp-area="" asp-controller="SpeakingAssignments" asp-action="Index">
                    <polygon class="bgd-hex" points="75,0 150,45 150,105 75,150 0,105 0,45" />
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Topics</text>
                </a>
            </svg>
        </div>
</div>
