@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mega Desk</h1>
    <a asp-page="/Quotes/Create" class="btn btn-primary mt-3 mr-2">Add New Desk Quote</a>
    <a asp-page="/Quotes/Index" class="btn btn-primary mt-3">View Previous Desk Quotes</a>
</div>